<div>
  <form (ngSubmit)="validateData()">
    <span class="error" *ngIf="badEquation">
      You must enter an equation.
      <br>
    </span>
    <input type="text" placeholder="Enter expression here" [(ngModel)]="equation"  [ngModelOptions]="{standalone: true}"/>
    <br>
    
    <span class="error" *ngIf="badXLower">
      Please enter a valid value for the lower x-window or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badXUpper">
      Please enter a valid value for the upper x-window or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badXWindow">
      The lower x-window should be less than the upper window.
      <br>
    </span>
    <input type="text" placeholder="Lower bound for x-axis" [(ngModel)]="xWindowLowerString"  [ngModelOptions]="{standalone: true}"/> -
    <input type="text" placeholder="Upper bound for x-axis" [(ngModel)]="xWindowUpperString"  [ngModelOptions]="{standalone: true}"/>
    <br>
    <span class="error" *ngIf="badXSteps">
      Please enter a valid value for the amount of steps along the x-axis or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badXStepsIsLessThanZero">
      The step value cannot be negative.
      <br>
    </span>
    <span class="error" *ngIf="badXStepsIsDecimal">
      The step value cannot be a decimal.
      <br>
    </span>
    <input type="text" placeholder="Steps to take on x-axis" [(ngModel)]="xStepsString"  [ngModelOptions]="{standalone: true}"/>
    <br>

    <span class="error" *ngIf="badYLower">
      Please enter a valid value for the lower y-window or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badYUpper">
      Please enter a valid value for the upper y-window or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badYWindow">
      The lower y-window should be less than the upper window.
      <br>
    </span>
    <input type="text" placeholder="Lower bound for y-axis" [(ngModel)]="yWindowLowerString"  [ngModelOptions]="{standalone: true}"/> - 
    <input type="text" placeholder="Upper bound for y-axis" [(ngModel)]="yWindowUpperString"  [ngModelOptions]="{standalone: true}"/>
    <br>
    <span class="error" *ngIf="badYSteps">
      Please enter a valid value for the amount of steps along the y-axis or leave blank.
      <br>
    </span>
    <span class="error" *ngIf="badYStepsIsLessThanZero">
      The step value cannot be negative.
      <br>
    </span>
    <span class="error" *ngIf="badYStepsIsDecimal">
      The step value cannot be a decimal.
      <br>
    </span>
    <input type="text" placeholder="Steps to take on y-axis" [(ngModel)]="yStepsString"  [ngModelOptions]="{standalone: true}"/>
    <br>

    <input type="submit">
  </form>

  <button (click)="purgeGraph()">Clear All</button>
</div>

<div class="graph">
  <p *ngIf="this.totalPointsFoundCount !== 0">
    Saved points retrieved: {{this.savedPointsFoundCount}} <br>
    Newly calculated points: {{this.newPointsFoundCount}} <br>
    Total points in newest trace: {{this.totalPointsFoundCount}} <br>
  </p>
  
  <div id="plotlyChart" style="width:80%; height: 80%"></div>
</div>