<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-card-4">
  <div class="w3-container w3-light-grey" style = "padding: 10px 10px 10px 10px;">
    <form (ngSubmit)="validateData()">
      <span id="badEquation" class="error">
        You must enter an equation.
        <br>
      </span>
      <span id="badEquationTooManyVariables" class="error">
        There must be at most 2 variables.
        <br>
      </span>
      <input type="text" placeholder="Enter expression here" [(ngModel)]="equation"  [ngModelOptions]="{standalone: true}"/>
      <br>

      <span id="badXLower" class="error">
        Please enter a valid value for the lower x-window or leave blank.
        <br>
      </span>
      <span id="badXUpper" class="error">
        Please enter a valid value for the upper x-window or leave blank.
        <br>
      </span>
      <span id="badXWindow" class="error">
        The lower x-window should be less than the upper window.
        <br>
      </span>
      <input type="text" placeholder="Lower bound for x-axis" [(ngModel)]="xWindowLowerString"  [ngModelOptions]="{standalone: true}"/> -
      <input type="text" placeholder="Upper bound for x-axis" [(ngModel)]="xWindowUpperString"  [ngModelOptions]="{standalone: true}"/>
      <br>
      <span id="badXSteps" class="error">
        Please enter a valid value for the amount of steps along the x-axis or leave blank.
        <br>
      </span>
      <span id="badXStepsIsNegative" class="error">
        The step value cannot be negative.
        <br>
      </span>
      <span id="badXStepsIsDecimal" class="error">
        The step value cannot be a decimal.
        <br>
      </span>
      <input type="text" placeholder="Steps to take on x-axis" [(ngModel)]="xStepsString"  [ngModelOptions]="{standalone: true}"/>
      <br>

      <span id="badYLower" class="error">
        Please enter a valid value for the lower y-window or leave blank.
        <br>
      </span>
      <span id="badYUpper" class="error">
        Please enter a valid value for the upper y-window or leave blank.
        <br>
      </span>
      <span id="badYWindow" class="error">
        The lower y-window should be less than the upper window.
        <br>
      </span>
      <input type="text" placeholder="Lower bound for y-axis" [(ngModel)]="yWindowLowerString"  [ngModelOptions]="{standalone: true}"/> - 
      <input type="text" placeholder="Upper bound for y-axis" [(ngModel)]="yWindowUpperString"  [ngModelOptions]="{standalone: true}"/>
      <br>
      <span id="badYSteps" class="error">
        Please enter a valid value for the amount of steps along the y-axis or leave blank.
        <br>
      </span>
      <span id="badYStepsIsNegative" class="error">
        The step value cannot be negative.
        <br>
      </span>
      <span id="badYStepsIsDecimal" class="error">
        The step value cannot be a decimal.
        <br>
      </span>
      <input type="text" placeholder="Steps to take on y-axis" [(ngModel)]="yStepsString"  [ngModelOptions]="{standalone: true}"/>
      <br>

      <input class="clickables" type="submit">

      <input class="clickables" type="button" (click)="purgeGraph()" value="Clear All">
    </form>
  </div>

  <div  class="w3-container">
    <p *ngIf="this.totalPointsUsed !== 0">
      Saved points retrieved: {{this.savedPointsFoundCount}} <br>
      Newly calculated points: {{this.newPointsFoundCount}} <br>
      Total points in graph: {{this.totalPointsUsed}} <br>
    </p>

    <div id="plotlyChart" style="width:100%; height: 100%"></div>
  </div>

  <!-- TODO: Add a checkbox that when clicked, shows all equations, even those not currently storing points.-->
  <!-- TODO: Put some <layer> on the forms below to cut down on placeholder size.-->
  <!-- TODO: The errors never are displayed except for the ones way up top. -->
  <div class="w3-container">
    <span *ngFor="let data of equationDatas">
      <p *ngIf="data.count > 0">
        Points found for {{data.equation}}: {{data.count}}.
          
        <input class="clickables" type="button" (click)="clearPoints(data.table_Name)" value="Clear points">
      </p>
    </span>
  </div>
</div>
